
<div class="container">
  <div class="Espacio"></div>

  <div class="row">

    <!---Seccion de 3 columnas para las targetas-->
  <div class="col 3">
    <div class="card" style="width: 18rem;">
      <img src="assets/Imagenes_Catalogo_Artesanos/hamaca.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Silla Coralina, XL, Algodón</h5>
        <p class="card-text">Descripcion:  usado para dormir o descansar. Consiste en una lona o red constituida por bramante o cuerda fina que se fija a dos puntos firmes.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Nombre: Lizzer Benjamin Pool Huchim</li>
        <li class="list-group-item">Precio: $1200</li>
        <div class="row btn-content">
        <div class="col 2"><a href="#"  class="btn btn-primary compra">COMPRAR</a></div>
        <div class="col 2"><a href="#" class="btn btn-primary agregar agregarT">CARRITO</a></div>
        </div>
      </ul>

    </div>
  </div>
  <!--2 parte-->
  <div class="col 3">
    <div class="card" style="width: 18rem;">
      <img src="assets/Imagenes_Catalogo_Artesanos/hamaca.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Silla Coralina, XL, Algodón</h5>
        <p class="card-text">Descripcion:  usado para dormir o descansar. Consiste en una lona o red constituida por bramante o cuerda fina que se fija a dos puntos firmes.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Nombre: Lizzer Benjamin Pool Huchim</li>
        <li class="list-group-item">Precio: $1200</li>
        <div class="row">
          <div class="col 2"><a href="#" class="btn btn-primary compra">COMPRAR</a></div>
          <div class="col 2"><a href="#"  class="btn btn-primary agregar agregarT">CARRITO</a></div>
        </div>


      </ul>

    </div>
  </div>

  <!--3 parte fin-->

  <div class="col 3">
    <div class="card" style="width: 18rem;">
      <img src="assets/Imagenes_Catalogo_Artesanos/hamaca.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Silla Coralina, XL, Algodón</h5>
        <p class="card-text">Descripcion:  usado para dormir o descansar. Consiste en una lona o red constituida por bramante o cuerda fina que se fija a dos puntos firmes.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Nombre: Lizzer Benjamin Pool Huchim</li>
        <li class="list-group-item">Precio: $1200</li>
        <div class="row">
          <div class="col 2"><a href="#" class="btn btn-primary compra">COMPRAR</a></div>
          <div class="col 2"><a href="#"  class="btn btn-primary agregar agregarT">CARRITO</a></div>
        </div>

      </ul>

    </div>
  </div>




  </div>


  <div class="Espacio"></div>
  <div class="row">

    <!---Seccion de 3 columnas para las targetas-->
    <div class="col 3">
      <div class="card" style="width: 18rem;">
        <img src="assets/Imagenes_Catalogo_Artesanos/hamaca.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Silla Coralina, XL, Algodón</h5>
          <p class="card-text">Descripcion:  usado para dormir o descansar. Consiste en una lona o red constituida por bramante o cuerda fina que se fija a dos puntos firmes.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Nombre: Lizzer Benjamin Pool Huchim</li>
          <li class="list-group-item">Precio: $1200</li>
          <div class="row">
            <div class="col 2"><a href="#" class="btn btn-primary compra">COMPRAR</a></div>
            <div class="col 2"><a href="#"  class="btn btn-primary agregar agregarT">CARRITO</a></div>
          </div>

        </ul>

      </div>
    </div>
  <!--2 parte-->
  <div class="col 3">
    <div class="card" style="width: 18rem;">
      <img src="assets/Imagenes_Catalogo_Artesanos/hamaca.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Silla Coralina, XL, Algodón</h5>
        <p class="card-text">Descripcion:  usado para dormir o descansar. Consiste en una lona o red constituida por bramante o cuerda fina que se fija a dos puntos firmes.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Nombre: Lizzer Benjamin Pool Huchim</li>
        <li class="list-group-item">Precio: $1200</li>
        <div class="row">
          <div class="col 2"><a href="#" class="btn btn-primary compra">COMPRAR</a></div>
          <div class="col 2"><a href="#"  class="btn btn-primary agregar agregarT">CARRITO</a></div>
        </div>

      </ul>

    </div>
  </div>

  <!--3 parte fin-->

  <div class="col 3">
    <div class="card" style="width: 18rem;">
      <img src="assets/Imagenes_Catalogo_Artesanos/hamaca.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Silla Coralina, XL, Algodón</h5>
        <p class="card-text">Descripcion:  usado para dormir o descansar. Consiste en una lona o red constituida por bramante o cuerda fina que se fija a dos puntos firmes.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Nombre: Lizzer Benjamin Pool Huchim</li>
        <li class="list-group-item">Precio: $1200</li>
        <div class="row">
          <div class="col 2"><a href="#" class="btn btn-primary compra">COMPRAR</a></div>
          <div class="col 2"><a href="#"  class="btn btn-primary agregar agregarT">CARRITO</a></div>
        </div>

      </ul>

    </div>
  </div>


  </div>


  <div class="Espacio"></div>
  <div class="row">

    <!---Seccion de 3 columnas para las targetas-->
    <div class="col 3">
      <div class="card" style="width: 18rem;">
        <img src="assets/Imagenes_Catalogo_Artesanos/hamaca.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Silla Coralina, XL, Algodón</h5>
          <p class="card-text">Descripcion:  usado para dormir o descansar. Consiste en una lona o red constituida por bramante o cuerda fina que se fija a dos puntos firmes.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Nombre: Lizzer Benjamin Pool Huchim</li>
          <li class="list-group-item">Precio: $1200</li>
          <div class="row">
            <div class="col 2"><a href="#" class="btn btn-primary compra">COMPRAR</a></div>
            <div class="col 2"><a href="#"  class="btn btn-primary agregar agregarT">CARRITO</a></div>
          </div>

        </ul>

      </div>
    </div>
  <!--2 parte-->
  <div class="col 3">
    <div class="card" style="width: 18rem;">
      <img src="assets/Imagenes_Catalogo_Artesanos/hamaca.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Silla Coralina, XL, Algodón</h5>
        <p class="card-text">Descripcion:  usado para dormir o descansar. Consiste en una lona o red constituida por bramante o cuerda fina que se fija a dos puntos firmes.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Nombre: Lizzer Benjamin Pool Huchim</li>
        <li class="list-group-item">Precio: $1200</li>
        <div class="row">
          <div class="col 2"><a href="#" class="btn btn-primary compra">COMPRAR</a></div>
          <div class="col 2"><a href="#"  class="btn btn-primary agregar agregarT">CARRITO</a></div>
        </div>

      </ul>

    </div>
  </div>
  <!--3 parte fin-->

  <div class="col 3">
    <div class="card" style="width: 18rem;">
      <img src="assets/Imagenes_Catalogo_Artesanos/hamaca.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Silla Coralina, XL, Algodón</h5>
        <p class="card-text">Descripcion:  usado para dormir o descansar. Consiste en una lona o red constituida por bramante o cuerda fina que se fija a dos puntos firmes.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Nombre: Lizzer Benjamin Pool Huchim</li>
        <li class="list-group-item">Precio: $1200</li>
        <div class="row">
          <div class="col 2"><a href="#" class="btn btn-primary compra">COMPRAR</a></div>
          <div class="col 2"><a href="#"  class="btn btn-primary agregar agregarT">CARRITO</a></div>
        </div>

      </ul>

    </div>
  </div>




  </div>



  </div>



  <div class="Espacio"></div>
