<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
<div class="row bg-cielo shadow fixed-top">
  <div class="col-md-4">
    <div class="banner">
      <img
        class="logo"
        src="https://cdn.shopify.com/s/files/1/0574/6075/2457/files/cielo_hamacas_logo_1_300x300.jpg?v=1657059144"
      />
      <div class="title">Bolsa de trabajo</div>
    </div>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-4 fl">
    <div class="btn-ingresar">
      <span class="material-symbols-outlined">login</span>
      <a>Ingresar</a>
    </div>
    <li class="nav-item dropdown list light">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ idPrin }} ({{ idioma }})
      </a>
      <ul class="dropdown-menu">
        <li>
          <a (click)="getIdiomaES()" class="dropdown-item light" href="#"
            >Español (ES)</a
          >
        </li>
        <li>
          <a (click)="getIdiomaUS()" class="dropdown-item light" href="#"
            >English (US)</a
          >
        </li>
        <li>
          <a (click)="getIdiomaMY()" class="dropdown-item light" href="#"
            >Maya</a
          >
        </li>
      </ul>
    </li>
  </div>
</div>
